body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}
#btn-container {
	display: flex;
	justify-content: space-around;
	margin: 8px;
}
.badge {
	margin: 5px;
}
#container {
	border: 1px solid whitesmoke;
	margin: 2px;
	width: 360px;
	height: 600px;
	display: flexbox;
	flex-wrap: wrap;
	background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d7ae21af-7b8f-4f38-9c0c-e89de27923c9/dbd1vjs-b1c57fac-156e-4ead-9984-f757c2552386.jpg/v1/fill/w_1024,h_1657,q_75,strp/star_wars__episode_iv___a_new_hope___poster_by_visutox_dbd1vjs-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNjU3IiwicGF0aCI6IlwvZlwvZDdhZTIxYWYtN2I4Zi00ZjM4LTljMGMtZTg5ZGUyNzkyM2M5XC9kYmQxdmpzLWIxYzU3ZmFjLTE1NmUtNGVhZC05OTg0LWY3NTdjMjU1MjM4Ni5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.bDTNSPKGmFtYYljSxBiYS-Kb857cjOXMMc47fR1w1JA');
	background-size: cover;
}
.cards-show {
	display: inline-block;
	width: 60px;
	height: 80px;
	margin: 2px;
	box-sizing: border-box;
	border: solid black;
}
.cards-hide {
	display: inline-block;
	width: 60px;
	height: 80px;
	margin: 2px;
	box-sizing: border-box;
	padding-left: 60px;
	border: solid black;
	background: url('https://s.wsj.net/public/resources/images/OG-DN157_201912_8SR_20191205164120.jpg');
	background-size: cover;
}
