* {
	border: 2px solid gold;
}
body {
	display: flex;
	flex-wrap: wrap;
}
#container {
	border: 5px solid violet;
	width: 500px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.cards-show{
	display: block;
	width: 100px;
	height: 150px;
	margin: 5px;
	box-sizing: border-box;
	/* padding-left: 100px; */
	border: solid black;
	/* flex: 0 0 22%; */
	
}
.cards-hide{
	display: block;
	width: 100px;
	height: 150px;
	margin: 5px;
	box-sizing: border-box;
	padding-left: 100px;
	border: solid black;
	/* flex: 0 0 22%; */
	background: url('https://upload.wikimedia.org/wikipedia/en/thumb/8/87/StarWarsMoviePoster1977.jpg/220px-StarWarsMoviePoster1977.jpg');
}